<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/user_profile.css">
    </head>
    <body>
        <h1>BeSocial <%= title%></h1>
        <p><%= user.name%></p>
        <p><%= user.email%></p>
    </body>
</html>